<div class="insurance-status">
    <div *ngIf="insurance; else noInsurance" class="insurance-status__text">
        <div *ngIf="isInsuranceExpired(); else noInsurance">
            <div>Your have active {{insurance.type == 0 ? 'Classic' : 'Premium' }} insurance</div>
            <div>Valid till {{insurance.expiryDate | date:'mediumDate'}}</div>
        </div>
    </div>
    <ng-template #noInsurance>
        <div class="insurance-status__text">
            <div>Currently you don't have valid insurance.</div>
            <div>You need one to cross the border.</div>
        </div>
    </ng-template>
</div>
<div class="insurance-options">
    <div *ngFor="let insuranceType of insuranceTypes" class="insurance-type-block" (click)="enablePurchaseMode(insuranceType.id)">
        <div class="insurance-type">
            <div class="insurance-type__name">{{insuranceType.name}}</div>
            <div class="insurance-type__price">{{insuranceType.dailyPrice}} ETH</div>
            <div class="insurance-type__description">{{insuranceType.description}}</div>
        </div>
        <div class="insurance-type" *ngIf="isPurchaseMode && editedInsuranceTypeId === insuranceType.id">
            <div class="purchase-days">
                <input type="number" 
                    min="1" 
                    max="365"
                    step="1"
                    [ngModel]="daysToPurchase" 
                    (input)="formatDaysValue($event)"
                > DAYS / TOTAL OF {{totalPrice}} ETH
            </div>
            <div class="purchase-button" (click)="buyInsurance($event)">Purchase Insurance</div>
            <div class="purchase-button" (click)="disablePurchaseMode($event)">Cancel</div>
        </div>
    </div>
</div>