@import "colors";
@import "variables";
@import "mixins";

:host {
  display: flex;
  width: 100%;
  height: 100vh;

  .insurance-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-top: $header-height;
    background-color: $light-blue;
    color: $white;

    &__text {
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  .insurance-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: $header-height;

    .insurance-type-block {
      display: flex;
      width: 80%;
      border: 2px solid $light-blue;
      margin-bottom: 20px;
      padding: 20px;
      box-shadow: 5px 5px $light-blue;

      &:hover {
        cursor: pointer;
        box-shadow: 7px 7px $light-blue;
      }

      .insurance-type {
        display: flex;
        flex-direction: column;
        width: 50%;

        .purchase-days {
          padding-bottom: 10px;

          input {
            border: none;
            border-bottom: 2px solid $light-blue;
            outline: none;
            font-size: 1.5rem;
            width: 20%;
            text-align: center;
          }
        }

        .purchase-button {
          @include button-basic($light-blue, 70%, 1rem);
          margin-bottom: 5px;

          &:hover {
            width: 80%;        
          }
        }

        &__name,
        &__price {
          font-size: 3rem;
        }

        &__description {
          font-size: 1.5rem;
        }
      }
    }
  }
}