@import "colors";
@import "variables";
@import "mixins";

:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .title-text {
    position: absolute;
    top: 30%;
    left: 15px;
    color: $crimson-sky;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bold;
    word-wrap: break-word;
  }

  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .button-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25%;
    top: 60%;
    left: 0;

    .block-button {
      margin-bottom: 4px;

      &:hover {
        width: 100%;
      }

      &--dark {
        @include button-large($crimson-sky, 80%, 1.5rem);
      }

      &--light {
        @include button-large($light-blue, 80%, 1.5rem);
      }
    }
  }
}

@media only screen and (min-width: 319px) and (max-width: 479px) {
    :host {
      .title-text {
        font-size: 2.5rem;
      }
  
      .button-container {
          width: 50%;
      }
    }
  }

@media only screen and (min-width: 480px) and (max-width: 991px) {
  :host {
    .title-text {
      font-size: 3rem;
    }

    .button-container {
        width: 30%;
    }
  }
}

@media only screen and (min-width: 2500px) {
  :host {
    .title-text {
      font-size: 6rem;
    }
  }
}