<div class="step">
    <div class="step__item">
        <div class="city-text">Please scan your ticket</div>
        <div class="city-scan" (click)="scanTicket()">Scan</div>
    </div>
    <div class="step__item" *ngIf="scanSuccessfull">
        <div class="travel-info-title">Travel Info</div>
        <div class="travel-info-item">{{fromCity.name}}({{fromCity.country}}) <mat-icon>arrow_right_alt</mat-icon> {{toCity.name}}({{toCity.country}})</div>
    </div>
</div>
<div class="result">
    Security Control was successfull!
</div>